.section-sixth {
  padding-top: 51px;
  padding-bottom: 114px;
  overflow: hidden;

  .section-fourth__content {
    padding-left: 70px;
  }
}

@media (max-width: 1199.98px) {
  .section-sixth .section-fourth__content {
    padding-left: 0;
  }
}

@media (max-width: 767.98px) {
  .section-sixth {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}