html, body {
  font-family: Roboto, sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.section-first__bg-years-dots {
  background: url("../img/year-dots-img.svg") no-repeat center;
  background-size: 100% auto;
  width: 122px;
  min-width: 122px;
  height: 30px;
  display: block;

  margin-top: 40px;
  margin-left: -19px;
}

.example-button-normal {
  background: url("../img/btn-img-1.svg") no-repeat center;
  background-size: 100% auto;
  width: 180px;
  min-width: 180px;
  height: 48px;
  display: block;
}

.example-button-active {
  background: url("../img/btn-img-2.svg") no-repeat center;
  background-size: 100% auto;
  width: 180px;
  min-width: 180px;
  height: 48px;
  display: block;
}

.example-input-normal {
  background: url("../img/input-img-1.svg") no-repeat center;
  background-size: 100% auto;
  width: 207px;
  min-width: 207px;
  height: 35px;
  display: block;
}

.example-input-focus {
  background: url("../img/input-img-2.svg") no-repeat center;
  background-size: 100% auto;
  width: 207px;
  min-width: 207px;
  height: 35px;
  display: block;
}

.example-checkbox-normal {
  background: url("../img/checkBox-1.svg") no-repeat center;
  background-size: 100% auto;
  width: 15px;
  min-width: 15px;
  height: 15px;
  display: block;
}

.example-checkbox-checked {
  background: url("../img/checkBox-2.svg") no-repeat center;
  background-size: 100% auto;
  width: 15px;
  min-width: 15px;
  height: 15px;
  display: block;
}

.example-radioButton-normal {
  background: url("../img/radioBtn-1.svg") no-repeat center;
  background-size: 100% auto;
  width: 18px;
  min-width: 18px;
  height: 18px;
  display: block;
  border-radius: 50%;
}

.example-radioButton-checked {
  background: url("../img/radioBtn-2.svg") no-repeat center;
  background-size: 100% auto;
  width: 18px;
  min-width: 18px;
  height: 18px;
  display: block;
  border-radius: 50%;
}

.font-icon {
  background: url("../img/font-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 85px;
  height: 94px;
  display: block;
}

.section-title {
  text-align: center;
}

.example-design-new {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  min-width: 1025px;
  position: absolute;
  left: 0;
  top: 0;
}

.text-title {
  font-weight: bold;
  font-size: rem(28);
  line-height: rem(33);
  color: $font-color-5;
}

.style-text {
  font-weight: 500;
  font-size: rem(20);
  line-height: rem(30);
  color: $font-color-6;
}

.section-colorful {
  background: $backgroundColorFirst;
}

.mew-design-product {
  position: relative;
  min-height: 700px;

  img {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }
}

.logo-main {
  background: url("../img/logo-main.svg") no-repeat center;
  background-size: 100% auto;
  width: 184px;
  height: 49px;
  display: block;
}

.logo-ansy {
  background: url("../img/logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 141px;
  height: 34px;
  display: block;
}

.logo-ansy_mr {
  margin-right: 33px;
}

.main-menu {
  display: flex;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 415px;
}

.logo-container__line {
  height: 38px;
  margin-left: 28px;
  margin-right: 28px;
  border-right: 1px solid #979797;
}

.logo-container__btn {
  width: 220px;
  min-width: 200px;
  background: #F2EFE8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border-color: #F2EFE8;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #555555;
}

.default-btn-style {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 35px;
  padding-right: 35px;
}

body.active {
  overflow: hidden;
}

.app.active:before {
  content: '';
  background: rgba(0, 0, 0, 0.77);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.app.active {
  position: relative;
  filter: blur(40px);
}

@media (max-width: 991.98px) {
  .logo-container__btn {
    font-size: 14px;
    margin-top: 16px;
  }

  .logo-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 767.98px) {
  .style-text {
    font-size: rem(16);
    line-height: rem(22);
  }

  .text-title {
    font-size: rem(20);
    line-height: normal;
  }

  .logo-container__line {
    margin-left: 15px;
    margin-right: 15px;
  }

  .logo-ansy_mr {
    margin-right: 0;
  }
}